body {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px rgba(59, 89, 152, 1);
    width: 50%;
    font-family: "Open Sans"
}
.tpfacebook {
  background-color: #3B5998;
  color: white;
  height: 40px;
  display: flex;
  gap: 15px;
  height: max-content;
}
.f1 {
    width: 367px;
    height: 90px;
}
.secondc {
    height: 67px;
    width: 367px;
  margin-right: 30px;
}
.pfacebook {
    display: flex;
    flex-direction: column;
}
.pfc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.left {
  width: max-content;
  padding: 10px;
  margin-top: 10px;
}
.lefta {
    display: flex;
    flex-direction: column;
    border: solid 2px rgba(59, 89, 152, 1);
    border-style: dashed;
    padding: 10px;
}
.pbutton {
    display: flex;
    flex-direction: row;
}
.goo {
    background-color: rgba(83, 138, 220, 1);
    border: none;
    color: white;
    border-right: solid 4px rgba(59, 89, 152, 1);
    border-bottom: solid 4px rgba(59, 89, 152, 1);
    height: max-content;
}
.i {
    display: flex;
    justify-content: center;
    background-color: rgba(217, 223, 234, 1);
    border: solid 2px rgba(59, 89, 152, 1);
}
.inp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px rgba(59, 89, 152, 1);
    border-style: dashed;
    padding: 10px;
    margin-bottom: 7px
}
.leftimg {
    width: 100%;
    height: 85%;
    object-fit: cover;
    display: block;
    margin-bottom: 8px;
}
.all {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(59, 89, 152, 1);
  margin: 10px;
}
.leftright {
    display: flex;
    flex-direction: row;
}
.p1 {
  width: 100%;
  background-color: rgba(59, 89, 152, 1);
  color: white;
  display: flex;
  justify-content: space-between;
}
.all1 {
  width: 80%;
  border-right: 2px solid #3B5998;
  padding: 10px;
}
.pic1 {
    display: flex;
    flex-direction: column;
    
    border: solid 2px rgba(59, 89, 152, 1);
}
.rightp {
    background-color: rgba(59, 89, 152, 1);
    color: white;
}
.pic1 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.guysimg {
    display: flex;
    align-items: center;
}
.send {
    border: solid 2px rgba(59, 89, 152, 1);
    margin-top: 10px;
    color: rgba(83, 138, 220, 1);

}
hr {
    border: 1px solid rgba(59, 89, 152, 1);
}
.pokesend {
    padding-left: 10px;
}
.connect {
    border: solid 2px rgba(59, 89, 152, 1);
    margin-top: 10px
}
.rela {
    display: flex;
    justify-content: center;
}
.mutual {
    border: solid 2px rgba(59, 89, 152, 1);
    margin-top: 10px;
}
.fri {
    color: rgba(83, 138, 220, 1);
}
.brian {
    display: flex;
    justify-content: center;
}
.access {
    border: solid 2px rgba(59, 89, 152, 1);
    margin-top: 10px;
}
.friends {
    border: solid 2px rgba(59, 89, 152, 1);
    margin-top: 10px;
}
.bothall {
    display: flex;
}
.all2 {
    border: solid 2px rgba(59, 89, 152, 1);
    margin: 10px;
    width: 100%;
}
.infoacc {
    display: flex;
    flex-direction: column;
}
.nameb {
    display: flex;
    justify-content: space-between;
}
.accinf {
    font-weight: 700;
}
.firstpic {
    display: flex;
    flex-direction: row;
    object-fit: cover;
}
.kera {
    width: 52px;
    height: 77px;
}
.jennif {
    width: 46px;
    height: 62px;
}
.am {
    width: 53px;
    height: 38px;
}
.secondpic {
    display: flex;
    flex-direction: row;
    object-fit: cover;
}
.sara {
    width: 68px;
    height: 87px;
}
.tra {
    width: 63px;
    height: 43px;
}
.bria {
    width: 64px;
    height: 61px;
}
.textimg {
    display: flex;
    flex-direction: column;
}
.members {
    display: flex;
    justify-content: space-between;
}
.lastupd {
    display: flex;
    justify-content: space-between;
}
.bluetxt {
    color: rgba(83, 138, 220, 1);
}
.spn {
    color: rgba(0, 0, 0, 1);
}
.space {
    display: flex;
    justify-content: space-between;
}
.marka {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}